Service References/NotificationEvents/NotificationEvents2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50634/NotificationEvents.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
  <xs:import schemaLocation="http://localhost:50634/NotificationEvents.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CbuPortal.Entity.Models" />
  <xs:import schemaLocation="http://localhost:50634/NotificationEvents.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="NotificationAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="UserID" type="q1:ObjectId" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="NotificationObjectID" type="q2:ObjectId" />
        <xs:element minOccurs="0" name="NotificationInfo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotificationAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationsTrueGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="userID" type="q3:ObjectId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationsTrueGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CbuPortal.Entity.Models" minOccurs="0" name="NotificationsTrueGetResult" nillable="true" type="q4:ArrayOftblNotificationsInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationsFalseGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="userID" type="q5:ObjectId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationsFalseGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CbuPortal.Entity.Models" minOccurs="0" name="NotificationsFalseGetResult" nillable="true" type="q6:ArrayOftblNotificationsInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationsSeem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="userID" type="q7:ObjectId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationsSeemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotificationsSeemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationsGetShare">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="shareID" type="q8:ObjectId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationsGetShareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="NotificationsGetShareResult" nillable="true" type="q9:tblShareInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAvatar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="userID" type="q10:ObjectId" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAvatarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateAvatarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>