Service References/FollowService/FollowEvents2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50634/FollowEvents.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
  <xs:import schemaLocation="http://localhost:50634/FollowEvents.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CbuPortal.Entity.Models" />
  <xs:element name="getFollowers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="userID" type="q1:ObjectId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFollowersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CbuPortal.Entity.Models" minOccurs="0" name="getFollowersResult" nillable="true" type="q2:ArrayOftblFollowers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFollowing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="userID" type="q3:ObjectId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFollowingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CbuPortal.Entity.Models" minOccurs="0" name="getFollowingResult" nillable="true" type="q4:ArrayOftblFollowers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setFollow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CbuPortal.Entity.Models" minOccurs="0" name="follow" nillable="true" type="q5:tblFollowing" />
        <xs:element minOccurs="0" name="followStatus" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setFollowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setFollowResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>