Service References/FollowService/FollowEvents.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FollowEvents" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50634/FollowEvents.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50634/FollowEvents.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50634/FollowEvents.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
      <xsd:import schemaLocation="http://localhost:50634/FollowEvents.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CbuPortal.Entity.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFollowEvents_getFollowers_InputMessage">
    <wsdl:part name="parameters" element="tns:getFollowers" />
  </wsdl:message>
  <wsdl:message name="IFollowEvents_getFollowers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFollowersResponse" />
  </wsdl:message>
  <wsdl:message name="IFollowEvents_getFollowing_InputMessage">
    <wsdl:part name="parameters" element="tns:getFollowing" />
  </wsdl:message>
  <wsdl:message name="IFollowEvents_getFollowing_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFollowingResponse" />
  </wsdl:message>
  <wsdl:message name="IFollowEvents_setFollow_InputMessage">
    <wsdl:part name="parameters" element="tns:setFollow" />
  </wsdl:message>
  <wsdl:message name="IFollowEvents_setFollow_OutputMessage">
    <wsdl:part name="parameters" element="tns:setFollowResponse" />
  </wsdl:message>
  <wsdl:portType name="IFollowEvents">
    <wsdl:operation name="getFollowers">
      <wsdl:input wsaw:Action="http://tempuri.org/IFollowEvents/getFollowers" message="tns:IFollowEvents_getFollowers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFollowEvents/getFollowersResponse" message="tns:IFollowEvents_getFollowers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFollowing">
      <wsdl:input wsaw:Action="http://tempuri.org/IFollowEvents/getFollowing" message="tns:IFollowEvents_getFollowing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFollowEvents/getFollowingResponse" message="tns:IFollowEvents_getFollowing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setFollow">
      <wsdl:input wsaw:Action="http://tempuri.org/IFollowEvents/setFollow" message="tns:IFollowEvents_setFollow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFollowEvents/setFollowResponse" message="tns:IFollowEvents_setFollow_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFollowEvents" type="tns:IFollowEvents">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getFollowers">
      <soap:operation soapAction="http://tempuri.org/IFollowEvents/getFollowers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFollowing">
      <soap:operation soapAction="http://tempuri.org/IFollowEvents/getFollowing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setFollow">
      <soap:operation soapAction="http://tempuri.org/IFollowEvents/setFollow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FollowEvents">
    <wsdl:port name="BasicHttpBinding_IFollowEvents" binding="tns:BasicHttpBinding_IFollowEvents">
      <soap:address location="http://localhost:50634/FollowEvents.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>